Flask==0.12.2
Flask-Cors==3.0.2
Flask-SQLAlchemy==2.2
Jinja2==2.9.6
MarkupSafe==1.0
PyMySQL==0.7.11
SQLAlchemy==1.1.9
Werkzeug==0.12.2
aniso8601==1.2.1
appdirs==1.4.3
click==6.7
itsdangerous==0.24
packaging==16.8
pip==9.0.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
setuptools==35.0.2
six==1.10.0
wheel==0.29.0
paramiko==2.2.1
IPy==0.83